body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #251c3f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #ffffff;
}

/* Navbar */
.navbar {
  display: flex;
  background: #191034;
  min-height: 50px;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
}
.navbar img {
  height: 50px;
  width: 50px;
}
/* posts */
.posts-list {
  padding: 20px 50px;
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 0 auto;
  flex-grow: 0.8;
}
.post-wrapper {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 20px;
  background: #251c3f;
  transition: ease-in-out 0.15s;
}
.post-wrapper:hover {
  background-color: #241d4c;
}
.post-header {
  padding: 10px 10px;
  left: 100px;
}
.post-header > div {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}
.event-name {
  color: white;
  /* font-family: Open Sans; */
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.event-date {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ff8f35;
}
.container {
  position: relative;
  margin-bottom: 8px;
  text-align: center;
}
.image-wrapper {
  width: 60%;
}
.container img {
  width: 50%;
}
.post-actions {
  padding: 5px;
  display: flex;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: white;
  border-right: none;
  border-left: none;
}
.post-actions img {
  height: 18px;
  color: white;
}
.post-actions img:hover {
  cursor: pointer;
}
.post-actions div {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}
.post-actions div span {
  margin-left: 7px;
}
.pagination {
  position: relative;
  width: 100px;
  height: 40px;
  top: 10px;
  left: 1130px;
}
.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pagination-container:hover {
  cursor: pointer;
}
.pagination-cell {
  border: 2px solid black;
  width: 100%;
  text-align: center;
  background-color: rgb(255, 143, 53);
  transition: ease-in-out 0.25s;
}
.pagination-cell:hover {
  background-color: rgb(255, 102, 0);
}
